* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../images/fondo-flex.jpg");
    background-size: 1920px 1080px;
    display: flex;
    flex-direction: row;
}

img {
    width: 310px;
    display: flex;
}

.container {
    display: flex;
    width: 1920px;
    height: 900px;
    flex-direction: row;

}

#img1 {
    margin-top: 25rem;
}

#img2 {

    margin-top: 18rem;
    margin-left: 1rem;
}

#img3 {
    margin-top: 45rem;
    margin-left: 12rem;
}


#img4 {
    margin-top: 20rem;
    margin-left: 5rem;
}

#img5 {
    margin-top: 30rem;
    margin-left: 4rem;
}